<app-promotions-form-stepper
  [steps]="steps"
  [disabled]="descriptionForm.errors?.['requireMarketingOrTechnical']"
  (stepSelectionChange)="onStepSelected($event)"
></app-promotions-form-stepper>
<content>
  <ng-container *ngIf="selectedIndex === 0">
    <section>
      <app-promotions-form-description
        [form]="descriptionForm"
      ></app-promotions-form-description>
      <app-promotions-form-tutorial></app-promotions-form-tutorial>
    </section>
    <section>
      <app-promotions-form-conditions
        [form]="conditionsForm"
      ></app-promotions-form-conditions>
    </section>
  </ng-container>
  <ng-container *ngIf="selectedIndex > 0 && selectedIndex < 8">
    <section>
      <div class="card">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        ratione quia maxime sapiente repellat ut beatae, eveniet aut obcaecati
        temporibus quam esse ab quo est velit sequi ea exercitationem fugit?
      </div>
    </section>
  </ng-container>
  <ng-container *ngIf="selectedIndex === 8">
    <section>
      <div>
        <button class="save-button" [disabled]="form.invalid" (click)="save()">
          Save
        </button>
        <div *ngIf="form.invalid" class="color-primary-red">Form invalid</div>
      </div>
    </section>
  </ng-container>
</content>
