<div class="card">
  <header>
    <h4>Catalog promotion tutional:</h4>
  </header>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia neque,
    blanditiis asperiores at quisquam voluptate dolor, aut veritatis mollitia
    unde, error odio aliquam? Facere porro labore necessitatibus quia tempore
    saepe?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia neque,
    blanditiis asperiores at quisquam voluptate dolor, aut veritatis mollitia
    unde, error odio aliquam? Facere porro labore necessitatibus quia tempore
    saepe?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia neque,
    blanditiis asperiores at quisquam voluptate dolor, aut veritatis mollitia
    unde, error odio aliquam? Facere porro labore necessitatibus quia tempore
    saepe?
  </p>
</div>
